html{
  box-sizing: border-box;
}
*,  *:before, *:after{
  box-sizing: inherit;
}


body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
  max-width:100%;

}
p{
  font-size: 17px;
  line-height: 2;
}

.boton{
  background-color:  #00B8E4;
  padding: 20xp 80px;
  display: inline-block;
  margin-top:10px;
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  transition: background-color.3s ease-in-out;

}
.boton:hover{
  background-color:  #00B817;

}



.site-header{
  padding-top: 20px 0 20px 0;

}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto;

}
.clearflix::after{
  content: '';
  clear: both;
  display: table;
}
/**Navegacion responsiva**/
.barra{
  overflow: hidden;

}
.mobile-menu{
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  display: block;
  padding: 20px 0;
}
 #nav:target{
  max-height: 800px;
}
.navagacion-principal{
  max-height: 0;
  transition: .5s;

}
@media (min-witdh:768px){
  .navagacion-principal{
    max-height: unset;
  }
  .mobile menu,
  .cerrar{
     display: none
}





/**navegacion**/
.barra{
  background-color: #DB008D;
  margin-top: 40px;

}
.navegacion-principal a{
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  display: block;
  text-align: center;
  padding:20px;
}
@media (min-width:768px){
  .navegacion-principal a{
    display:inline-block;
    margin-right: 10px;
  }

}
.navegacion-principal a:hover{
  background-color: #00B8E4;


}
/** COntenido principal**/
.conteido-principal{
    margin-top: 40px;

}
.conteido-principal,
.sidebar{
  padding: 20px;

}
@media(min-width:768px){
  .contenido-principal{
    width: 70%;
    float: left;
    padding:0 60px 0 0;
  }
  .sidebar{
    width: 30%;
    float: left;
    padding: 0;
    margin-top: 40px;
  }
}

/** entrada de blog**/
h2{
  color:#00B8E4;
  margin-bottom: 20px;

}
.entrada{
  margin-bottom: : 60px;
}
.entrada:last-of-type{
  margin-bottom: 0;

}
.entrada img{
  display: block;
}
@media (min-width: 480px){
  .entrada img{
    width: 300px;
    float: left;
    margin: 0 30px 20px 0;
  }

}
.entrada p{
  text-align: justify;
}
/**sidebar**/
.sidebar ul{
  list-style: none;
  padding: 0;
}
.sidebar ul li{
  margin-bottom:20px;
  padding: 10px;

}

.sidebar ul li:hover{
  border-color:#00B818;


}

.sidebar ul li a{
  color: #00B8E4;
  font-size: 18px;
  text-decoration: none;

}

.sidebar ul li:hover a{
  color: #08F;

}

/** footer**/
.footer-sitio{
  background-color:  #DB008D;
  padding-top: 40px;
  margin-top: 120px;
  text-align: center;

}
.footer-sitio h2{
  color:#ffffff;

}
.footer-sitio a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  margin-right: 20px;

}
.footer-sitio a :last-of-type{
  margin-right: 0;

}
@media (min-width:768px){
  .footer-sitio .nosotros{
    float: left;
    width: 30%;
    text-align: left;

  }
  .footer-sitio .menu{
    float: right;
    width: 50%;
    text-align: right;

  }

}
.copyrigth{
  background-color:  #b10474;
  margin-top: 50px 0 0 0;
  padding: 10px 0;

}
